* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url("/images/sep12.jpg");
    max-width: 100vw;
}




.container {
    
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px #030303;
    background-color: #eca864;
}



button {
    width: 21%;
    height: 33%;
    margin: 2%;
    border-radius: 2px;
}

.ecran {
    height: 50px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 7px;
}

.typing-input {
     display: flex;
    flex-direction: row;
    gap: 19px;
    height: 20%;
    width: 91%;
    padding: 1%;
}
.div1 {
    display: flex;
    flex-direction: row;
    gap: 19px;
    height: 20%;
    width: 91%;
    padding: 1%;
}

.div2 {
    display: flex;
    flex-direction: row;
    gap: 19px;
    height: 20%;
    width: 91%;
    padding: 1%;
}
